@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');



:root {
    --dark: #2b2d42;
    --light: #adb5bd;
    --border: #dee2e6;
    --border-btn: #edf2f4;
    --btn_main: #7025E1;
    --main_clr: #7025E1;
    --btn_main_hover:#4F03C1;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

body {
    min-height: 100vh;
}

.container {
    background-color: var(--main_clr);
}


/* ------------------ main_footer --------------- */
.footer_main {
    margin-top: 40px;
    background-color: var(--main_clr);
    position: sticky;
    top: 100%;
    display: flex;
    flex-direction: column;
}

.footer_cont_1 {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-evenly;
}

.footer_cont_2 {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section_1 img {
    width: 50px;
}

.footer_icons {
    display: flex;

}

.footer_cont_2 p {
    color: white;
    padding: 10px;

}

.footer_icons li {
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    list-style: none;
    color: white;
    border: 1px solid white;
    border-radius: 50%;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section_2 a:hover {
    color: black;
}

.footer_logo {
    font-size: 45px;
    color: white;
    text-decoration: none;


}

.section_1 p {
    font-size: 20px;
    color: white;


}

.section_2 {
    display: flex;
    justify-content: center;
    flex-direction: column;


}

.section_2 a {
    color: white;
    text-decoration: none;
    padding: 4px;


}

.footer_hr_main {
    content: "";
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1px;
    width: 45%;

}

.footer_hr {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;


}




.pro_container {
    display: flex;
    align-items: center;
    justify-content: center;
}



.pro_label img {
    width: 150px;
    height: 150px;
    background-color: red;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    position: absolute;
    border-radius: 50%;
    object-fit: cover;
    font-size: 50px;
    color: white;
    background-color: var(--btn_main);
    border: 2px solid var(--btn_main);
}


.pro_inp {
    width: 150px;
    height: 150px;
    opacity: 0;
    border-radius: 50%;
    cursor: pointer;
}

input[type="text"]:focus,
input[type="email"]:focus {
    border: 1px solid var(--btn_main) !important;
    outline: none !important;
    transition: ease .3s;
}

.pro_container {
    display: flex;
    flex-direction: column;
}

.pro_span {
    padding: 10px;
}




.text-center a {
    text-decoration: none;
    color: white;
}

.text-dark {
    color: var(--dark);
}

.text-light {
    color: var(--light);
}

.text-center {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.inline {
    display: inline-block;
}

.add_form_input {
    width: 400px;
}


.container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'PT Sans', sans-serif;
    margin-top: 30px;
}

.text-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box-nav {
    margin-bottom: 20px;
    padding: 6px;
    border-radius: 8px;
}

.box-nav a {
    color: white;
    background: -webkit-linear-gradient(rgb(91, 55, 238), rgb(120, 39, 191));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.box-nav a:hover {
    color: white;
    background: -webkit-linear-gradient(rgb(58, 36, 146), rgb(78, 22, 128));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.box-nav {
    border: 1px solid var(--border-btn);
    box-shadow: 1px 3px 10px #e9ecef;
}



.box-nav:hover {
    border: 1px solid #808080;
    box-shadow: 1px 1px 2px 2px #808080;
    cursor: pointer;
}



.btn:hover {
    border: 1px solid var(--border-btn);
    box-shadow: 1px 3px 10px #e9ecef;
    background-color: white;
    color: rgb(112, 37, 225);
    cursor: pointer;
}

.main_btn {
    color: rgb(112, 37, 225) !important;
}

.main_btn:hover {
    color: rgb(112, 37, 225) !important;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 3px 10px #e9ecef;
}



table {
    border-spacing: 0px;
    width: 100%;
}

.table td,
.table th {
    padding: .75em;
    vertical-align: top;
    text-align: center;
    border-top: 1px solid var(--border);
}


.table td>a.btn {
    padding: .3em 1em;
    font-size: 1.1em;
    margin: 0.2em;
}


.table_row:hover {
    background-color: rgb(180, 155, 217);
    color: white;

}

.table_row:hover .main_btn {
    box-shadow: 0px 0px 0px #e9ecef;
}

.thead-dark {
    background-color: rgb(23, 9, 56);
    color: white;
}









/* ============================== Add user css here  ================================================== */

.pro_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile_inp {
    padding-top: 20px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
}


.pro_label img{
    width: 150px;
    height: 150px;
    background-color: red;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    position: absolute;
    border-radius: 50%;
    font-size: 50px;
    color: white;
    background-color: var(--btn_main);
}

.pro_inp {
    width: 150px;
    height: 150px;
    opacity: 0;
    border-radius: 50%;
    cursor: pointer;
}

input[type="text"]:focus,
input[type="email"]:focus {
    border: 1px solid var(--btn_main) !important;
    outline: none !important;
    transition: ease .3s;
}

.pro_container {
    display: flex;
    flex-direction: column;
}

.pro_span {
    padding: 10px;
}




.form-title {
    margin-top: .2em;
}

.form-title>h2 {
    padding: .5em 0;
}

.new_user {
    max-width: 786px;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#update_user .form-group,
#add_user .form-group {
    margin: .4em 0;
}


/* #update_user .form-group input{
    width: 100%;
    padding: .6em 1em;
    margin: .5em;
    margin: auto;
    border: 1px solid var(--border);
} */


#update_user .flex input,
#add_user .flex input {
    width: 100%;
    padding: .6em 1em;
    margin: .5em;
    margin: auto;
    border: 1px solid var(--border);
}

.add_form_inline {
    display: inline-block;
}


.form-group {
    padding: .6em 1em;
    margin: .5em;
    margin: auto;
}

.input {
    width: 400px;
}

.radio-gap {
    margin: 6px;
}



.create_btn {
    background-color: rgb(112, 37, 225);
    color: white;
    padding: 8px;
    border: 0px solid;
    border-radius: 6px;

}

.create_btn:hover {
    background-color: var(--btn_main_hover) !important;
    border: 0px solid;
    border-radius: 6px;
    color: white;
    transition: ease .3s;
}

.create_btn:focus {
    background-color: rgb(56, 8, 129) !important;
    border: 0px solid;
    border-radius: 6px;
    color: white;
}

#create_btn {
    display: flex;
    justify-content: center;
}



.center {
    display: flex;
    align-items: center;
    justify-content: center;
}












/* responsive design form here */


@media screen and (max-width: 480px) {


    /* main here */

    .container2 form {
        overflow: hidden;
        /* width: 100%; */
    }


    .thead-dark tr{
        font-size: 10px;
    }
    .thead-dark tr th{
        margin: 0;
        padding-top: 3px;
        padding-bottom: 5px;
        padding-left: 0px;
        padding-right: 0px;

    }


    .hidden{
        display: none;
    }

    .footer_logo{
        font-size: 30px;
    }

    .logo_slog{
        font-size: 1px;
    }
    .section_1 p{
        font-size: 10px;  
    }
    
    .section_2 a{
        font-size: 10px;
    }
    .footer_cont_1{
        justify-content: space-between;
        padding-left: 30px;
        padding-right: 30px;
        align-items: center;
    }
    .footer_cont_2{
        width: 80%
    }
    .footer_icons li{
        width: 30px;
        height:30px;
        font-size: 15px;
    }
    #copyright{
        font-size: 10px;
    }

    /* #func_btn{
        flex-direction: column;
        display: flex;
    } */

    .table_row td{
        font-size: 0.6em;
    }

    .table_row td{
        padding: 0;
    }
    .text-gradient i{
        font-size: 10px;
    }



    .table td>a.btn{
        padding: 4px 8px;
    }


    td {
        padding-top: .5em;
        padding-bottom: .5em;
    }

    tbody tr{
        padding: 4px 4px;
        margin: 8px;
    }
    .table td {
        padding-top: 0.75em !important;
        padding-bottom: 0.75em !important;
        vertical-align: top;
        text-align: center;
        border-top: 1px solid var(--light);
    }


    .adduserform{
        width: 100%;
    }
    .input{
        width: 350px;
    }




}